* {
    padding: 0%;
    margin: 0%;
    color: rgb(240, 240, 6);
    font-family: fantasy;
}




.banner {
    background-image: url("../assets/fundoquizz.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}

.banner .container{
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}
.caixa-quiz{
    background-image: url("../assets/backgroundquizcaixa.gif");
    width: 80%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}
.caixa-quiz p{
    color: black;
    background-color: red;
    font-size: larger;
    width: 500px;
    text-align: center;
}
.caixa-quiz input{
    color: black;
    width: 300px;
    height: 4vh;
}

.caixa-quiz select, option{
    color: black;
    width: 300px;
}

.caixa-quiz button{
    width: 300px;
    margin: 15px;
    color: black;
    background-color: red;
    height: 4vh;
    font-size: large;
}

#imgdoquiz{
    width: 300px;
    
}