* {
    padding: 0%;
    margin: 0%;
    color: rgb(240, 240, 6);
    font-family: fantasy;
}

.header {
    padding: 10px;
    background-color: black;
    font-size: large;
    font-style: oblique;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1{
    margin-right: 450px;
}

#logo {
    width: 100px;
}



ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 300px;
    list-style: none;
}

li a {
    color: rgb(240, 240, 6);
    width: 100px;
    text-decoration: none;
    cursor: pointer;
}

.banner{
    background-color: rgb(184, 0, 0);
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100%;    
}

.banner .container{
    justify-content: space-around;
    flex-direction: column;
    background-color:black;
    width: 90%;
   height: 100vh;
   margin-top: 40px;
}


.sobre{
    display: flex;
    flex-direction: row;
}


.banner h2{
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:10px 10px;
}

.banner p{
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:15px 15px ;
  width: 500px;    
}


#img_sobre{
 width:200px;
}

